<mat-dialog-content class="w-100 h-100 m-0 p-0">
  <div class="d-flex justify-content-between align-items-center h-100 mt-5 mt-sm-0">
    <a class="btn btn-link close-btn" mat-dialog-close>
      <i class="fas fa-times fa-4x"></i>
    </a>
    <div class="mr-4">
      <a class="btn btn-link" (click)="previous()">
        <i class="fas fa-arrow-left fa-4x"></i>
      </a>
    </div>
    <div class="d-flex flex-column flex-grow justify-content-center">
      <img [src]="data.image.url" class="rounded slideshow-image m-auto" loading="lazy">
      <h3 class="text-center mt-3">{{ data.image.title }}</h3>
    </div>
    <div class="ml-4">
      <a class="btn btn-link" (click)="next()">
        <i class="fas fa-arrow-right fa-4x"></i>
      </a>
    </div>
  </div>
</mat-dialog-content>
